.App {
  text-align: left;

}
.header {
  background-color: #034696;
  color: white;
  width: 0 auto;
}
.footer {

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  background-color: #034696;
  text-align: center;

}

 /*#sectionStyle{
  width: 100%;
  height: 650px;
  background-image: url('images/homepage.jpg');
};*/

ul {
  padding: 0 auto;
  list-style-type: none;
  width:100%;
  text-align: right;
}
li {
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  color:white;
  letter-spacing: 5px;
  list-style-type: none;
  justify-content: flex-end;

}

.name {
  font-size: 3em;
  padding-left:5%;
}

.title {
  font-size:1em;
}

.App-intro {
  font-size: large;
}
section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro {
  text-align: center;
  padding-top: 15%;
  color: white;
  font-size: xx-large;
}
.icons i{
  font-size:200%;
  color:white;
  /*margin-right: 2%;*/
}
.Nav{
  display: flex;
  background-color: #034696;
}
.Nav a {
  color: white;
  font-family: sans-serif;

}
.Nav a:hover {
    background-color: black;
}
a{
  margin-right:5%;
  margin-left: 5%;
}

.snl a, .bucketlist a, .pantry a{
  margin-right:0;
  margin-left: 0;
  color: black;

}
.snl, .bucketlist, .pantry{
  width: 30;
  margin: 0 1em;
  border: 1px solid grey;
  padding: 0;
}
.projects{
  display:flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
}

.skill{
width: 50%;
margin: 5em auto;
}

.desc{
margin-top: 5%;
}
/*i{
  padding:10%;
}*/
@media only screen and (max-width: 500px) {
  .projects{
    display:inline-block;
    background-attachment: scroll;
  }
  .skill{
width: 80%;
margin: 0 auto;
}


}
