body {
 background: url('images/homepage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: left;

}
.header {
  background-color: #034696;
  color: white;
  width: 0 auto;
}
.footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  /*padding: 1rem;*/
  background-color: #034696;
  text-align: center;

}

 /*#sectionStyle{
  width: 100%;
  height: auto;
  background-image: url('images/homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
};*/

ul {
  padding: 0 auto;
  list-style-type: none;
  width:100%;
  text-align: right;
}
li {
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  color:white;
  letter-spacing: 5px;
  list-style-type: none;
  justify-content: flex-end;

}

.name {
  font-size: 3em;
  padding-left:5%;
}

.title {
  font-size:1em;
}

.App-intro {
  font-size: large;
}
.intro {
  text-align: center;
  margin-top: 15%;
  color: white;
  font-size: xx-large;
}
.icons i{
  font-size:200%;
  color:white;
  /*margin-right: 2%;*/
}
.Nav{
  display: flex;
  background-color: #034696;
}
.Nav a {
  color: white;
  font-family: sans-serif;

}
.Nav a:hover {
    background-color: black;
}
a{
  margin-right:5%;
  margin-left: 5%;
}

.snl a, .bucketlist a, .pantry a{
  margin-right:0;
  margin-left: 0;
  color: white;

}
.snl, .bucketlist, .pantry{
  display: flex;
  /*border: 5px solid grey;*/
  color:white;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;



  /*padding: 0;*/
}
.projectdesc{
  flex:1;
  width: 30%;
  align-items: center;
}

.projects{
  margin: 0 auto;
  text-align: center;
  width: 0 auto;
  background-color:rgba(0,0,0,0.6);
}

.skill{
width: 50%;
margin: 5em auto;
}
.skill a {
  color: white;
  font-family: sans-serif;

}

.desc{
margin-top: 5%;
}
/*i{
  padding:10%;
}*/
.projectdesc {
  position: relative;
  overflow: hidden;
  margin: 1.5%;
  background-color: steelblue;
  opacity:.9;
  border-radius: 10%;
}
.projectdesc > p {
  /*position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;*/
  padding: 20px 10px;
  /*background: inherit;*/
  /*background-attachment: fixed;*/
}
.projectdesc > h4 {
  padding: 20px 10px;
}
.projectdesc  a  i {
  font-size: 300%;
}
.projectTitle {
  text-align: center;
  background-color:rgba(0,0,0,0.6);
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  padding: 2%;
}
#sectionStyle, h1, h3{
  transition: background-color 5s ease-in;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  padding: 2%;
}
.skillDetail{
  background-color:rgba(0,0,0,0.6);
}
.intro{
  background-color:rgba(0,0,0,0.6);
  border-radius: 1%;
}
h1{
  background-color:rgba(255,0,0,0.6);
}

 @keyframes colorchange
    {
      100%  {background-color:rgba(255,0,0,0.6);}
    }

* {
  box-sizing: border-box;
}
@media only screen and (max-width: 500px) {
  h3, p{
    font-size: 1.5rem;
  }
.projectdesc > p{
  font-size: .5rem;
}
.projectdesc > h2{
  font-size: .9rem;
}
  .snl{
    /*display:inline-block;*/
    background-attachment: scroll;
  }
  .skill{
width: 80%;
margin: 0 auto;
}


}
